extends layout

block content
    div.container-fluid
        div(class="col-lg-3 col-md-3 hidden-sm hidden-xs")
            div(class="panel panel-default")
                div.panel-body
                    div.media
                        div(align="center")
                            img(class="thumbnail img-responsive", src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px")
                        div(class="media-body")
                            hr
                            hr3
                                strong Bio
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ve
                            hr
                            hr3
                                strong Location
                            p Earth
        div(class="col-lg-9 col-md-9 col-sm-12 col-xs-12")
            div(class="panel panel-default")
                div.panel-body
                span
                    ul
                        li
                            a(href='/connect/facebook', class='btn btn-primary') Facebook
