extends layout

block content
    div.container-fluid
        div.row
            div(class="col-xs-12")
                div(class="panel panel-default")
                    div.panel-body
                        div.media
                            span(class="pull-left")
                                img(class="thumbnail img-responsive", src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="100px" height="100px")
                            div(class="media-body")
                                hr3 Itay Wiseman                   
        div.row                    
             div(class="col-xs-12")
                  div(class="panel panel-default")
                       div.panel-body
                            div(class="col-xs-4")
                                div(class="btn-group btn-group-justified")
                                    a(href='/connect/facebook', class='btn btn-primary') Facebook
                                    a(href='/connect/twitter', class='btn btn-primary') Twitter
                                    
        div.row 
            div(class="col-md-6 col-sm-12")
                div(class="panel panel-default")
                    div.panel-body
                        textarea.form-control(rows="6" id="post-content")
                    
            div(class="col-md-6 col-sm-12")
                div(class="panel panel-default")
                    div.panel-body    