doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Bootstrap Login Form Template
    // CSS
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    // <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    link(rel="stylesheet", href="/stylesheets/form-elements.css")
    link(rel="stylesheet", href="/stylesheets/style.css")



  body
    block content
